
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display+SC:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: #239b7e;
  --main-font: "Playfair Display SC", serif;
  --primary-font: "Roboto", sans-serif;
}


.nav {
  position: fixed;
  margin-right: 20px;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(to right, #9E768F , #9FA4C4);
  overflow: hidden;
}



.nav a {
  margin-right: 80px;
  margin-left: 55px;
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 15px;
  text-decoration: none;
  font-size: 15px;
  font-weight:bolder;
}

.nav a:hover {
  background-color: #ddd;
  color: black;
}


.nav a.active {
  background-color:#9FA4C4;
  color:black;
}
.heading{
  text-align:center; 
}
.content{
  font-size: 20px; 
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 90vh;
  margin-top: 2rem;
}

.main-headings {
  font-size: 4rem;
  font-family: var(--main-font);
  transform: translateY(-40px);
  color: #00000097;
  line-height: 5rem;
}

.main-headings span {
  color: #000;
}

.primary-headings {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  margin-bottom: 1rem;
  color: #716d6d;
}

.btn-fill {
  background: var(--main-color);
  color: #fff;
  border: none;
  padding: 12px 20px;
  margin-right: 10px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-fill:hover {
  background-color: #fff;
  border: 1px solid var(--main-color);
  color: var(--main-color);
}

.btn-outline.active {
  border: 2px solid var(--main-color);
  color: var(--main-color);
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-outline.active:hover {
  background: var(--main-color);
  color: #fff;
}

.btn-outline {
  border: 2px solid #ccc;
  color: #ccc;
  background: transparent;
  padding: 10px 20px;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

.btn-outline:hover {
  border-color: var(--main-color);
  color: var(--main-color);
}

.img-container {
  border-radius: 50%;
  box-shadow: 4px 7px 5px 2px #bcbaba;
}

.header-img {
  border-radius: 100%;
  background: url(images/oswaldo-ibanez-1NPUmTaiMeg-unsplash.jpg);
  background-position: top;
  background-size: cover;
  width: 400px;
  height: 400px;
}

/* Section 1 */
.section-one {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 7rem;
}

.img-container {
  border-radius: 50%;
  box-shadow: 4px 7px 5px 2px #bcbaba;
}

.section-one-img {
  background: url(images/gesphotoss-1i9K55ni5Dk-unsplash.jpg);
  background-position: top;
  background-size: cover;
}

.primary-headings {
  max-width: 500px;
  font-family: var(--primary-font);
  line-height: 25px;
  margin-bottom: 1rem;
  color: #716d6d;
}

/* Products */
.products {
  margin-top: 10rem;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.products .products-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 3rem;
}

.products .product-categories button {
  margin-right: 20px;
  margin-bottom: 2rem;
}

.products .product-items-container {
    
  justify-content: space-evenly; 
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  margin: 20px;
  max-width: 60rem; 
}

.products .product-items-container .item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products .product-items-container .item-layer {
  background: #ebf1f0;
  padding: 40px;
  margin-right: 20px;
  margin: 0 auto;
  margin-right: 20px;
  width: 100%;
  overflow: hidden;
}

.products .product-items-container .item-layer img {
  width: 100%;
  height: 200;
}

.products .product-items-container .item .item-name {
  margin: 10px 0;
  text-align: center;
}

.products .product-items-container .item .item-price {
  margin: 10px 0;
  text-align: center;
}

.products .product-items-container .item .view-product {
  text-align: center;
  text-decoration: none;
  color: #333;
  background-color: #f0f0f0;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
}


.customers-reviews {
  margin-top: 7rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.customer {
  text-align: center;
}

.customers-heading {
  font-family: var(--primary-font);
  font-size: 2rem;
  margin-bottom: 20px;
  text-align: center;
  margin-top: 10rem;
}

.customers-reviews .customer-description {
  font-size: 12px;
  margin-top: 20px;
  max-width: 200px;
  text-align: center;
  margin: 10px;
  font-family: var(--primary-font);
}

.customer .customer-img .img {
  width: 200px;
  height: 200px;
  border-radius: 100%;
  background-size: cover;
  background-position: center;
  margin: 0 auto;
  margin-bottom: 20px;
}

.customer-img .img-one {
  background: url(images/yogendra-singh-uWs_N5Dlyiw-unsplash.jpg);
}
.customer-img .img-two {
  background: url(images/joshua-rondeau-xazIYnxpS2Q-unsplash.jpg);
}
.customer-img .img-three {
  background: url(images/milan-popovic-kOnmHdLJTNI-unsplash.jpg);
}

::-webkit-scrollbar {
  width: 12px; 
}

::-webkit-scrollbar-track {
  background: #f1f1f1; }


::-webkit-scrollbar-thumb {
  background-image: linear-gradient(to bottom, #9E768F , #9FA4C4);
  border-radius: 6px;
  height: 20px; 
}





footer {
  background: #1f1e1e;
  margin-top: 10rem;
  color: #fff;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  height: 100vh;
  font-family: var(--primary-font);
}

footer .container .footer-heading {
  margin-bottom: 3rem;
}

footer .container .footer-primary-heading {
  font-weight: normal;
  font-size: 15px;
  margin-bottom: 20px;
}


@media only screen and (max-width: 900px) {
  header {
    height: 120vh;
    text-align: center;
  }

  .section-one {
    height: 120vh;
    text-align: center;
  }

  .header-img {
    width: 250px;
    height: 250px;
  }

  .main-headings {
    font-size: 3rem;
    margin-top: 2rem;
  }

  .primary-headings {
    width: 400px;
  }

  .customer .customer-img .img {
    width: 150px;
    height: 150px;
  }
}


:

@media only screen and (max-width : 200px) {
  .nav {
float:left;
}